:root {
    --primary-color: #f4511e;
    --gradient-up-no-hover:#f86e44;
    --gradient-bottom-no-hover:#ffb742;
    --text-button-no-hover:#ffffff;
    --gradient-up-hover:#f7e394;
    --gradient-bottom-hover:#ffd0a1;
}

body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

.jumbotron {
    background-color: var(--primary-color);
    color: #fff;
    padding: 100px 15px;
    font-family: Montserrat, sans-serif;
}

.container-fluid {
    padding: 60px 50px;
}

#about.container-fluid {
    padding: 3vw;
    margin-left: 7vw;
}

.bg-grey {
    background-color: #f6f6f6;
}

.logo-small {
    color: var(--primary-color);
    font-size: 50px;
}

.logo {
    color: var(--primary-color);
    font-size: 200px;
}

.project img {
    width: 80%;
    height: 80%;
    margin-bottom: 10px;
}

#myCarousel {
    padding: 3em;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
    color: var(--primary-color);
}

.carousel-indicators li {
    border-color: var(--primary-color);
}

.carousel-indicators li.active {
    background-color: var(--primary-color);
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

.panel {
    border: 1px solid var(--primary-color);
    border-radius: 0 !important;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
}

.panel-footer .btn:hover {
    border: 1px solid var(--primary-color);
    background-color: #fff !important;
    color: var(--primary-color);
}

.panel-heading {
    color: #fff !important;
    background-color: var(--primary-color) !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: white !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: var(--primary-color);
    color: #fff;
}

.navbar {
    margin-bottom: 0;
    background-color: var(--primary-color);
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

.navbar li a,
.navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: var(--primary-color) !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

footer .glyphicon {
    font-size: 20px;
    color: var(--primary-color);
}

.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }

    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
}

#social {
    padding: 15px;
}

.button {
    background: #ff8e6b;
    background-image: -webkit-linear-gradient(top, var(--gradient-up-no-hover), var(--gradient-bottom-no-hover));
    background-image: -moz-linear-gradient(top, var(--gradient-up-no-hover), var(--gradient-bottom-no-hover));
    background-image: -ms-linear-gradient(top, var(--gradient-up-no-hover), var(--gradient-bottom-no-hover));
    background-image: -o-linear-gradient(top, var(--gradient-up-no-hover), var(--gradient-bottom-no-hover));
    background-image: linear-gradient(to bottom, var(--gradient-up-no-hover), var(--gradient-bottom-no-hover));
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: var(--text-button-no-hover);
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: dotted #ffffff 5px;
    text-decoration: none;
    margin: 20px;
}

.button:hover {
    background: #f7e394;
    background-image: -webkit-linear-gradient(top, var(--gradient-up-hover), var(--gradient-bottom-hover));
    background-image: -moz-linear-gradient(top, var(--gradient-up-hover), var(--gradient-bottom-hover));
    background-image: -ms-linear-gradient(top, var(--gradient-up-hover), var(--gradient-bottom-hover));
    background-image: -o-linear-gradient(top, var(--gradient-up-hover), var(--gradient-bottom-hover));
    background-image: linear-gradient(to bottom, var(--gradient-up-hover), var(--gradient-bottom-hover));
    text-decoration: none;
    color: var(--primary-color);
}

#topButton {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 50px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: var(--gradient-bottom-no-hover); /* Set a background color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    opacity: 60%;
  }
  
  #topButton:hover {
    background-color: var(--gradient-bottom-hover); /* Add a dark-grey background on hover */
  }